.mylist{
  width:100vw;
  height:100vh;
  display: flex;
  flex-direction: column;
  position:relative;
  background-color: rgba(0, 0, 0, 0.5);
 
  .triangle{    
    width: 0;
    height: 0;
    position: absolute;
    top:42px;
    right:90px;    
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid white;
  }
  .wrapper{
    position: absolute;
    top:70px;
    right:20px;
    width:250px;    
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
   
    .item{
      display: flex; 
      margin-bottom: 10px;
      width: auto; 
      img{
      width:70px;
      height:auto;
     }
      .description{
        display: flex;
        flex-direction: column;      
        .title{
          padding: 0 15px;
          
        }
        .price{
          padding: 0 10px;
          color: black;
        }
      }
      .close{
        color: red;
        font-weight: 700;
        padding-left: 20px;
      }
    }
    .line{
      display: block;
      height: 1px;
      border: 0;
      border-top: 1px solid #ccc;
      margin: 1em 0;
      padding: 0;
    }
    .add{
      display: flex;
      padding: 0 10px;
      justify-content: space-between;
      button{
        text-transform: uppercase;
        border-radius: 30%;
        border:1px solid black;
        background-color: white;
        border-radius: 40px;
        padding: 5px 20px;
        transition: 0.5s all ease; 
        cursor: pointer;
        &:hover{
          background-color: black;
          color: white;         
        }
      }
    }
  }
    
}